*.nes
*.o
*.nes.deb
*DS_Store
vars.txt
resources/__pycache__
resources/Background/*/*-reduced.png
resources/Background/*/*-tmp.h
resources/Sprite/*/*-reduced.png
resources/Sprite/*/*-tmp.h
resources/Sound/Music/ChickenOfTheFarm.map
